<aside class="sidebar sidebar-right">
    <div class="sidebar-widget">
        <h4>IKLAN</h4>
        <script type="text/javascript">
	atOptions = {
		'key' : 'b3ae843a8698b52e521ea00949edd1dd',
		'format' : 'iframe',
		'height' : 250,
		'width' : 300,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//eyebrowcohabit.com/b3ae843a8698b52e521ea00949edd1dd/invoke.js"></script>
    </div>
    {% if site.popular_posts.size > 0 %}
    <div class="sidebar-widget">
        <h4>POPULAR POSTS</h4>
        <ul class="popular-posts-list">
            {% for popular_title in site.popular_posts %}
                {% for post in site.posts %}
                    {% if post.title == popular_title %}
                        <li>
                            <a href="{{ post.url | relative_url }}">
                                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" class="popular-post-thumbnail">
                                <span class="popular-post-title">{{ post.title }}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
    {% endif %}
</aside>
